APP_NAME=Diabeet
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Sao_Paulo
APP_URL=http://localhost:8000

# === Docker ===
APP_PORT=8000

# === DB ===
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=diabeet
DB_USERNAME=postgres
DB_PASSWORD=password
